:root{
    --header-height:55px;
    --aside-width:266px;
}

@media screen and (min-width: 1440px) {
    :root{
        --ly-screen-max-width:1362px;
        --ly-sidebar-width-small:234px;
    }
}

@media screen and (min-width: 1680px) {
    :root{
        --ly-screen-max-width:1482px;
        --ly-sidebar-width-small: 290px;
    }
}